/* NOWボタン */
.now {
	width: 45px;
}

/* 天気テーブルを横並び */
.weather {
	display: table;
}

.weatherTime {
	display: table-cell;
}

.weatherSearch {
	display: table-cell;
	padding-left: 10px;
}

/* 天気検索テーブル */
.weatherSearch table {
	text-align: center;
}

/* 天気時刻テーブルタイトル */
.timeTableTitle {
	min-width: 200px;
}

/* 天気時刻テーブル値 */
.timeTableValue {
	min-width: 100px;
	text-align: center;
}

/* NMテーブル */
#NMTable {
	min-width: 540px;
	font-size: 9pt;
}

/* ボタンのスタイル */
.btn {
	margin-left:20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.leftTable {
	width: 500px;
}

.rightTable {
	min-width: 540px;
}

/* 地図 */
#map {
	width:500px;
	height:500px;
}

/* 設定用テキストエリア */
.settingData {
	width: 100%;
}

/* 設定用テキストエリアタイトル */
.settingCaption {
	margin-bottom: 0px;
}

/* メンテナンス用 */
#maintanance {
	border: 1px skyblue dashed;
	margin-top: 10px;
}

/* メッセージ */
.message {
	display: none;
}

/* 旧データ使用メッセージ */
#oldMsg {
	color: #ff0000;
	padding-left: 30px;
	display: none;
}


/* ヘッダー */
.header {
	width: 100%;
}

/* Google翻訳部品 */
#google_translate_element {
	float: right;
}

/* シャウト文変更チェックボックスの表示切り替え */
.viewChangeShoutFalse #ChangeShout {
	display: none;
}

.viewChangeShoutTrue #ChangeShout {
	display: block;
}

.viewChangeShoutFalse #VeiwChangeShoutTrue {
	display: block;
}

.viewChangeShoutTrue #VeiwChangeShoutTrue {
	display: none;
}

.viewChangeShoutFalse #VeiwChangeShoutFalse {
	display: none;
}

.viewChangeShoutTrue #VeiwChangeShoutFalse {
	display: block;
}

/* 未実装のため非表示*/
.hiddenObject {
	display: none;
}